body {
    background-color: black;
    margin: 0;
}

.title {
    color: white;
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 20px;
    cursor: pointer;
}

.menu ul li a:hover {
    text-decoration: none;
    color: red;
    font-size: 1.3rem;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.contenedor {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.content {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: gray;
    border-radius: 20px;
}

.form {
    padding: 25px;
    margin: auto auto;
    width: 300px;
    display: block;
}

input:valid {
    color: green;
}

input:invalid {
    color: red;
}

input:focus {
    background-color: #fff;
}

input,
select {
    width: 250px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
}

.btnEnviar {
    margin-top: 15px;
}


/* TABLA */

table {
    width: 100%;
    margin: 10px 0px;
}

th,
td {
    width: 15%;
    /* text-align: left; */
}